body {
	height: 100%;
	margin: 0;
}

.app-container, .homepage {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
  }

.maincontent {
	flex: 1;
	padding: 20px;
}

.header {
	padding: 20px;
	display: flex;
	align-items: center;
    justify-content: space-between;
	background-color: lightslategray;
	height: 60px;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list-item {
    margin-left: 10px;
    font-size: 1.1rem;
}

.footer {
	background-color: lightslategray;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 20px;
  }


/* //productcard.jsx styling */

.products {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.product-card {
    flex-basis: 225px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 13px;
    padding-bottom: 20px;
    background-color: white;
}

.product-card > img {
    width: 100%;
    height: auto;
    align-self: center;
    border-radius: 5px;
    object-fit: cover;
}

.product-card > h2 {
    font-weight: 700;
    font-size: 18px;
}

.info-container {
    display: flex;
    align-items: center;
}

.info-container > p {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
}

.info-container > button {
    margin-block: 3px;
    font-size: 12px;
    color: #2B283A;
}

/* searchbar */

.search-container {
	display: flex;
	align-items: center;
	background-color: lightslategray;
	padding: 8px;
	border-radius: 25px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	max-width: 400px;
	margin-top: 20px;
}

.search-container input {
	border: none;
	outline: none;
	padding: 8px;
	font-size: 16px;
	border-radius: 25px;
	width: 300px;
}

.search-container button {
	color: white;
	border: none;
	padding: 10px 15px;
	border-radius: 25px;
	cursor: pointer;
	margin-left: 8px;
}
